/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4/10/2023, 17:42:43
    Author     : HUAWEI
*/

body{
    font-family: sans-serif;
    margin: 0;
    background-color: #FAF2D3;
}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

header{
    background-color: #5CD2E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 5%;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
height: 110px;
border-radius: 110px;
margin-right: 15px;
}

.colora{
    padding-right: 10px;
    color: black;
}

nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 20px;
    transition: all 300ms ease;
    color: #fff;
}

.boton{
    background-color: beige;
    border-radius: 10px;
    margin-left: 10px;
}

.buscador{
    color: red;
    width: 200px;
    padding: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

footer{
    margin-top: 550px;
    text-align: center;
}

nav a:hover{
    color: orange;
}


@media (max-width: 700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}